{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#link-to 'church'}}{{#paper-button}}Home{{/paper-button}}{{/link-to}}
    {{#link-to 'events'}}{{#paper-button}}Events{{/paper-button}}{{/link-to}}
    {{#link-to 'preschool'}}{{#paper-button}}Preschool{{/paper-button}}{{/link-to}}
  </div>
{{/paper-toolbar}}
