<div class="jumbo" align="center">
  <p class="heading" align="center">
    <h1>WHAT WE BELIEVE</h1>
  </p>
  <div class="layout-row layout-wrap">
    <div class="flex-grow">
      <div class="believeList">
        <p class="heading" align="center">
          <h1>Be in the Word</h1>
        </p>
        <p>
          We believe personally the good news of the forgiveness of our sin through the life, death and resurrection of our Lord Jesus Christ and joyfully apply this Gospel message to our daily life. The study of the Holy Scriptures is a high priority for us personally, for our families, for our congregations, for our districts and for our Synod. Through the power of the Holy Spirit, we grow as partners who support this vision statement for our Synod.
        </p>
      </div>

      <div class="believeList">
        <p class="heading" align="center">
        <h1>Care for One Another</h1>
        </p>
        <p>
          We believe personally the good news of the forgiveness of our sin through the life, death and resurrection of our Lord Jesus Christ and joyfully apply this Gospel message to our daily life. The study of the Holy Scriptures is a high priority for us personally, for our families, for our congregations, for our districts and for our Synod. Through the power of the Holy Spirit, we grow as partners who support this vision statement for our Synod.
        </p>
      </div>

      <div class="believeList">
        <p class="heading" align="center">
        <h1>Share Christ with Others</h1>
        </p>
        <p>
          We believe personally the good news of the forgiveness of our sin through the life, death and resurrection of our Lord Jesus Christ and joyfully apply this Gospel message to our daily life. The study of the Holy Scriptures is a high priority for us personally, for our families, for our congregations, for our districts and for our Synod. Through the power of the Holy Spirit, we grow as partners who support this vision statement for our Synod.
        </p>
      </div>
    </div>
    <div class="layout-row layout-wrap">
      <div class="flex-grow">
        <div class="believeList">
          <p class="heading" align="center">
          <h1>Remain Faithful</h1>
          </p>
          <p>
            We believe personally the good news of the forgiveness of our sin through the life, death and resurrection of our Lord Jesus Christ and joyfully apply this Gospel message to our daily life. The study of the Holy Scriptures is a high priority for us personally, for our families, for our congregations, for our districts and for our Synod. Through the power of the Holy Spirit, we grow as partners who support this vision statement for our Synod.
          </p>
        </div>

        <div class="believeList">
          <p class="heading" align="center">
          <h1>Live in Peace</h1>
          </p>
          <p>
            We believe personally the good news of the forgiveness of our sin through the life, death and resurrection of our Lord Jesus Christ and joyfully apply this Gospel message to our daily life. The study of the Holy Scriptures is a high priority for us personally, for our families, for our congregations, for our districts and for our Synod. Through the power of the Holy Spirit, we grow as partners who support this vision statement for our Synod.
          </p>
        </div>
      </div>


    </div>
  </div>

</div>

