<div class="jumbo" align="center">

  {{#slick-slider autoplay=true arrows=false}}
    <div class="box"> <img class="mySlides slideshow" src="{{constants.rootURL}}img/flock.jpg" width="1000" height="1000"> </div>
    <div class="box"> <img class="mySlides slideshow" src="{{constants.rootURL}}img/sky.jpg" width="1000" height="1000" > </div>
  {{/slick-slider}}

  <div align="left">
    <div class="layout-row layout-wrap">
      <div class="flex">
        <div class="aboutGallery" style="border-style: outset;">
          <h2>Plan a Visit</h2>
          <p>
            Come as you are and join us on Sunday morning. We think you find our celebratory worship, Bible-base message and warm community makes this the best day of your week. We have something for the whole family!
          </p>

        </div>
        <div class="serviceTimes">
          <h2>Service Times</h2>
          <p>Saturday Evening Service at 5:30 p.m.</p>
          <p>Sunday Morning at 8:00 a.m.* & 10:30 a.m</p>
          <p>*Every 5th Sunday the 8:00 a.m. service will be not held</p>
        </div>



      </div>
    </div>
  </div>
</div>
