<div class="jumbo" align="center">

  {{#slick-slider autoplay=true arrows=false}}
    <div class="box"> <img class="mySlides" src="{{constants.rootURL}}img/flock.jpg" width="1000" height="1000"> </div>
    <div class="box"> <img class="mySlides" src="{{constants.rootURL}}img/sky.jpg" width="1000" height="1000" > </div>
  {{/slick-slider}}

  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>Thank you for visiting our website!! We invite you to visit our church and experience the love of God through Jesus Christ and the Holy Spirit!!</p>
  <p>Worship Services:</p>
  <p>Saturday Evening Service at 5:30 p.m.</p>
  <p>Sunday Morning at 8:00 a.m.* & 10:30 a.m</p>
  <p>*Every 5th Sunday the 8:00 a.m. service will be not held</p>

</div>
