<div class="layout-row layout-wrap">
  <div class="flex-grow" style="background-color:#b8b5cc;">
    <h1> <a target="_blank" href="{{constants.rootURL}}img/logo.png">
      <img src="{{constants.rootURL}}img/logo.png" width="200" height="100">
    </a>
    Pilgrim Lutheran Church v= {{constants.rootURL}}</h1>
  </div>
</div>