<div class="jumbo" align="center">

  <div class="w3-content w3-display-container">
    <img class="mySlides" src="/assets/images/birds.jpg" width="2000" height="800">
    <img class="mySlides" src="/assets/images/clouds.jpeg" width="2000" height="800">
    <img class="mySlides" src="/assets/images/cross.jpeg" width="2000" height="800">
    <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
  </div>


  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>Thank you for visiting our website!! We invite you to visit our church and experience the love of God through Jesus Christ and the Holy Spirit!!</p>
  <p>Worship Services:</p>
  <p>Saturday Evening Service at 5:30 p.m.</p>
  <p>Sunday Morning at 8:00 a.m.* & 10:30 a.m</p>
  <p>*Every 5th Sunday the 8:00 a.m. service will be not held</p>

</div>

<script>

</script>
